@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .RTL {
        direction: rtl;
    }

    .btn {
        padding: 14px 0;
        border-radius: 0.5rem;
        transition: all 200ms;
        cursor: pointer;
    }
    .btn-green {
        @apply bg-light_green text-main fill-main hover:fill-white hover:bg-main hover:text-lightWhite;
    }
}

input:checked ~ .ul-container {
    max-height: 100vh;
}
input:checked ~ .icon-container svg {
    transform: rotate(0);
}

@font-face {
    font-family: "yekaBakh";
    src: url(Assets/YekanBakhFaNum-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "yekaBakhBold";
    src: url(Assets/YekanBakhFaNum-Bold.woff2) format("woff2");
}
@font-face {
    font-family: "yekaBakhLight";
    src: url(Assets/YekanBakhFaNum-Light.woff2) format("woff2");
}
@font-face {
    font-family: "yekaBakhHeavy";
    src: url(Assets/YekanBakhFaNum-Heavy.woff2) format("woff2");
}
@font-face {
    font-family: "danafa";
    src: url(Assets/dana-fanum-regular.woff2) format("woff2");
}
@font-face {
    font-family: "danafaBold";
    src: url(Assets/dana-fanum-bold.woff2) format("woff2");
}
@font-face {
    font-family: "danafaBold";
    src: url(Assets/dana-fanum-bold.woff2) format("woff2");
}
@font-face {
    font-family: "RokhFaNumLight";
    src: url(Assets/RokhFaNum-Light.woff) format("woff");
}
@font-face {
    font-family: "RokhFaNumBold";
    src: url(Assets/RokhFaNum-Bold.woff) format("woff");
}
